.topBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.topBarLinks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 0.8rem;
}