.navbar {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);

  width: 3.75rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.navbarMain {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-sm);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: rem(40px);
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {

    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);

    width: auto;
    flex-direction: row;
  }

  .navbarMain {
    height: auto;
    flex: none;
    padding: var(--mantine-spacing-sm);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: rem(40px);
  }

  .link {
    width: rem(40px);
    height: rem(40px);
  }
}