.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  max-width: 100%;
}

.section {
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}

@media (max-width: $mantine-breakpoint-lg) {
  .projectsContainer { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: $mantine-breakpoint-md) {
  .projectsContainer { grid-template-columns: 1fr; }
}