.certificatesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;

  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-weight: bold;
}

@media (max-width: $mantine-breakpoint-md) {
  .certificatesContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  .card {
    grid-template-columns: 1fr;
  }
}